@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 425px) {
	.PromotArea { padding: 50px 10px;  }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
	.PlanArea ul { width: 95%;   }
	.PlanArea ul li .PlanBox figcaption a { width: 100%;}
	.DetailsCard .DetailsCardLeft figcaption li{ width: 100% }
}

@media screen and (max-width: 1050px) and (min-width: 768px) {
	.PromotBane p { width: 100% }
	.PromotArea{ padding: 50px 10px; }
	.PromotArea{ padding: 50px 10px; }
	.PromotArea .FeatureArea .col-sm-3{ width: 33.33%; float: left; } 
	.PromotArea .FeatureArea .col-sm-3:nth-child(4){ display: none; }
	.PromotArea .FeatureArea .FeatureBox figcaption ul li{ width: 100%; margin: 0 0 10px }
	.PromotArea .FeatureArea .FeatureBox figcaption ul li:last-child{ margin: 0px; }

	.BusinessArea{ padding: 50px 0px; }
	.BusinessArea .Businessbody ul.Pagination li a{ width: 24px; font-size: 12px;}
	.BusinessArea .Businessbody ul.Pagination li:first-child a{ padding: 0 8px }

	.BusinessArea .Businessbody .Services ul{ margin: 0px; }
	.BusinessArea .Businessbody .Services ul+h4{ margin: 20px 0px 15px 0; }

}

@media only screen and (max-width: 991px){
	.WhatdoArea .container{ width: 100% }
	.FilterArea { padding: 130px 20px 160px; }
	.entry-content .articleclass .col-md-6:nth-child(2) img{ margin: 15px auto 0; width: 100px; float: none; display: block;}

	/*.DetailsArea .container{ width: 100%; padding:0 20px }*/

	.PlanArea ul{ width: 95% }
	.PlanArea ul li .PlanBox article p{ font-size: 21px; margin: 0 0 20px 0 }

	.DetailsCard .DetailsCardLeft figcaption h3{ font-size: 22px }
	.DetailsCard .DetailsCardLeft figcaption h3 span.Featured{ font-size: 13px }

}

@media only screen and (max-width: 767px){

	header .navbar .navbar-nav>li:last-child>a{display:inline-block}
	header .navbar .navbar-toggle{ margin: 0px }
	footer .Footer{padding:50px 10px}
	footer .Footer .Foots{margin:0 0 20px}
	.FilterArea{padding: 100px 10px 60px;}
	.FilterArea .Search{margin: 0 0 30px 0!important;}
	.FilterArea .Search h3{font-size:24px;line-height:28px;margin:0 0 10px}
	.FilterArea .Search h4{font-size:14px;line-height:24px}
	.FilterArea form .SearchForm{display:block;width:100%;margin:0 0 0 0;border: 0;border-radius: 0;}
	.FilterArea form .SearchForm .Looking{width:100%}
	.FilterArea form .SearchForm .Location{width:100%;margin: 0 0 10px 0;padding: 6px 15px;}
	.FilterArea form .SearchForm .Looking input, 
	.FilterArea form .SearchForm .Location select{ font-size: 13px; height: auto; }
	.FilterArea form .SearchForm .Button{width:100%}
	.FilterArea form .SearchForm .Button button{padding: 8px 0;}
	.FilterArea ul li{margin:0 7px 10px}
	.FilterArea h4 br{display:none}	
	.PromoteArea{padding:70px 20px}
	.PromoteArea p{font-size:16px}
	.PromoteArea p br{display:none}
	.PromotBane{ padding: 120px 20px }
	.PromotBane p{ width: 100%; font-size: 35px; padding: 0 10px; line-height: 40px;}
	.PromotBane p br{ display: none; }
	.StartedArea { padding: 50px 20px; }
	.StartedArea a{margin:0 5px 10px}
	.PartnerArea ul li{width:calc(100% / 3);margin:0 0 20px}
	.PlanArea ul{width:95%;display:inherit}
	.PlanArea ul li{width:100%;margin:0 0 35px}

	.ServiceArea ul li{width: auto;margin: 0 5px;float: none;display: inline-block;}
	.ServiceArea ul li .Service{width: 90px;height: 90px;}
	.ServiceArea p{ width: 100% }

	
	.TalkingArea .TalkingBox{padding:20px}
	.TalkingArea .TalkingBox aside{width:100%;text-align:center;float:none;margin:0 0 10px;position: relative;padding: 0 0 0 80px;min-height: 80px;text-align: left;}
	.TalkingArea .TalkingBox aside figure{position: absolute;top: 0;left: 0;width: 70px;height: 70px;}
	.TalkingArea .TalkingBox figcaption{width:100%}


	.ContacArea .ContactInfo ul{ margin: 0 }
	.ContacArea .ContactInfo ul li{ padding: 0; width: 100%; }
	.ContacArea .ContactInfo ul li .ContactBox{ box-shadow: none; margin:0 0 50px; }

	.LearnArea ul{ margin: 0px; }
	.LearnArea ul li{ width: 100%; margin: 0 0 25px; }

	.BusinessArea .Businessbody ul.Pagination li a{ width: 26px; font-size: 13px;}
	.BusinessArea .Businessbody ul.Pagination li:first-child a{ padding: 0 8px }
	.BusinessArea .Businessbody .Services ul{ margin: 0px; }
	.BusinessArea .Businessbody .Services ul+h4{ margin: 20px 0px 15px 0; }

	.BusinessArea .Businessbody .Services ul li{ width: 100% }

	.WhatdoArea .sp_wpspwpost_static .wpspw-medium-4{ width:100%; float: left;  }
	.WhatdoArea .sp_wpspwpost_static .wpspw-medium-4.first{ clear: inherit !important }

	.WhatdoArea .sp_wpspwpost_static .wpspw-medium-4 .wpspw-post-grid-content  {} 

	#comments #respond form#commentform p.comment-form-author, 
	#comments #respond form#commentform p.comment-form-email, 
	#comments #respond form#commentform p.comment-form-url{ width: 100%; }

	#comments #respond form#commentform p.comment-form-cookies-consent {  display: flex; }
	#comments #respond form#commentform p.comment-form-cookies-consent input { margin: 5px 7px 0 0; }

	.FormArea{ padding: 50px 0 !important; height: auto !important; }

	.FilterCategory ul{ margin: 0px; }
	.FilterCategory ul li{ margin: 0 4px 10px; }
	.FilterCategory ul li:nth-last-child(-n+3){ margin: 0 4px 0px; }

	.FeatureArea{ margin: 0px; }
	.PromotArea .FeatureArea .SeeArrow{ bottom: -25px; left: 0; right: 0; margin: auto;}

	.DetailsArea .DetailsSearch #slider-search form .SearchForm{ width: 90%; }

	.PromotationArea {background-color: #f9ab29;margin: 0 0 50px;background-image: linear-gradient(45deg, #f8a323, #fab430);}
	.PromotationArea .PromotationImages{ height: 150px; margin: 0; }
	.PromotationArea .Promotationconetnt{ position: relative; width: 100%; padding: 40px 20px 20px; }

	.entry-content .articleclass .col-md-6:nth-child(2) img{ margin: 15px auto 0; width: 100px; float: none; display: block;}

	.singleblogs .Blog-Details article .titletexth1 h1.entry-title { font-size: 20px !important; }



	.DetailsCard .DetailsCardLeft figcaption li{ width: 100%; font-size: 15px; }

	.BrowseArea { padding: 0 10px 50px;}
	.BrowseArea .SeeArrow { bottom: 20px; left: 0; right: 0; margin: auto; }

	.ClientArea #demos { width: 95%; margin:auto; }
	.ClientArea #demos .owl-nav .owl-prev { left: -10px; }
	.ClientArea #demos .owl-nav .owl-next { right: -10px; }

	.DetailsCard{ display: block; float: none; }
	.DetailsCard iframe { height: 250px; }

	
	 
	.DetailsCard .DetailsCardLeft figure img{ width: 100% }
	
	.DetailsCard .DetailsCardLeft figure span{background-color: #26b060;position: absolute;top: 10px;right: 10px;text-transform: uppercase;font-weight: 600;font-size: 13px;color: #fff;padding: 5px 9px;border-radius: 3px;z-index: 1;left: auto;}
	.DetailsCard .DetailsCardLeft figure span.verified{left: 10px;right: auto;}

    .DetailsCard .DetailsCardLeft figure span img{ width: 15px }

    .DetailsCard .DetailsCardLeft figcaption h3 span.Featured{ float: none; }


}

@media screen and (max-width: 767px) and (min-width: 500px) {
	.PromotArea{ padding: 50px 10px; }
	.FeatureArea .col-sm-3{ width: 50%; float: left; } 
	.FeatureArea .FeatureBox figcaption ul li{ width: 100%; margin: 0 0 10px }
	.FeatureArea .FeatureBox figcaption ul li:last-child{ margin: 0px; }

	.BrowseArea{ padding: 50px 10px; }
	.BrowseArea .col-md-3{ width: 50% !important; float: left; }

	.ServiceArea ul li{width: auto;margin: 0 20px;float: none;display: inline-block;}
	.ServiceArea ul li .Service{ width: 125px; height: 125px; }


	.ContacArea .ContactInfo ul{ margin: 0 }
	.ContacArea .ContactInfo ul li{ padding: 0; width: calc(100% / 3) }
	.ContacArea .ContactInfo ul li .ContactBox{ box-shadow: none; }
	.ContacArea .ContactInfo ul li .ContactBox p{ font-size: 14px; }
	.ContacArea .ContactInfo ul li .ContactBox ol li a{ width: 32px; height: 32px; }

	.BusinessArea .Businessbody .Services ul li{ width: 49% }

	.PlanArea ul{width:100%;display:inherit}
	.PlanArea ul li{width:50%;margin:0 0 35px; float: left; }

	.WhatdoArea .sp_wpspwpost_static .wpspw-medium-4{ width:50%; float: left;  }
	.WhatdoArea .sp_wpspwpost_static .wpspw-medium-4.first{ clear: inherit !important }

	#comments #respond form#commentform p.comment-form-author, 
	#comments #respond form#commentform p.comment-form-email, 
	#comments #respond form#commentform p.comment-form-url{ width: 50%; }

	.DetailsArea .DetailsRight .DetailsProperty .PropertyBox{ margin: 0 15px 40px 0; width: 48%; float: left;}
	.DetailsArea .DetailsRight .DetailsProperty .PropertyBox:nth-child(odd){margin: 0 0px 40px 0;}

	.PaymentArea ul li{ width: 25%; }
 
	.DetailsCard .DetailsCardLeft figure{ width: 35%; float: left;}
	.DetailsCard .DetailsCardLeft figcaption { width: 65%;  padding: 0px 0px 0 15px; float: left;}
	header{ top: 65px; }
	a.custom-logo-link{ width: 190px }
}

@media screen and (max-width: 500px){

	.FormArea{ padding: 150px 20px 100px }
	.FormArea h4 br{ display: none; }
	.FormArea .SigninForm{padding: 25px 40px; max-width: inherit;width: 90%;}

	header{ padding: 0 10px; }
	.Fixed{ padding: 15px 10px; }
	.MenuSection .custom-logo-link{ width: 100px; }
	.MenuSection .Menu { margin: -7px 0px 0 0; }

	.NormalSlider #myCarousel .item{ height: 210px;}
	.wp-block-button__link {  font-size: 16px;   padding: 10px 34px;  }
 
	.NormalSlider #myCarousel .carousel-control { width: 25px; height: 30px; font-size: 25px; }

	#Service2 p br{ display: none; }
	.PlaceTags figure { float: none; margin: 0 0 10px !important; }

	.DetailsArea .DetailsLeft .Details-Content ul.Branches li{ padding: 0px; }


	.DetailsCard .DetailsCardLeft{ display: block; }
	.DetailsCard .DetailsCardLeft figure{ width: 100% }
	.DetailsCard .DetailsCardLeft figcaption {  width: 100%; padding: 20px 0px 0 0px; }
	header{ top: 80px; }

	.wrap-pro #top-search,
	.wrap-pro #top-search .dir-style-4,
	.wrap-pro #top-search .dir-style-4 .form-group{ padding: 0 }

	.wrap-pro #top-search .dir-style-4 form#dirprosearch{ padding: 20px }

	.dir-style-4 .form-control{ box-shadow: none; }

	.cbp-l-dropdown{ width: 100% !important }
	.wrap-pro #js-filters-meet-the-team.cbp-l-filters-button .cbp-filter-item{ font-size: 12px; padding: 0 10px; margin: 0 10px 10px; }
	.PromotBane h4 {font-size: 30px; line-height: 35px;}
	.DetailsCard .DetailsCardLeft figcaption li:nth-child(3) { margin: 0 10px 8px 0; }
	.DetailsCard .DetailsCardLeft figcaption h6 { margin: 10px 0 0; }

	.page-template-pricingtable .PlanArea ul li .PlanBox{ height: auto !important;  }
	.page-template-pricingtable .PlanArea ul li .PlanBox figcaption .Listing{ min-height: auto !important }

	.PaymentArea ul li{ width: 18%; padding: 0px; margin: 0 15px  }
	.PaymentArea ul li img{ width: 100%;  }

	.MenuSection .Menu ul li{ margin: 0 0 0 10px }


}

@media screen and (max-width: 425px){

	.Header ol{ margin: 10px 0 }

	.FilterCategory ul{ margin: 0 }
	.FilterCategory ul h3{ position: relative !important; top: 0 !important; color: #484747 !important; margin: 0 0 20px !important; font-size: 23px; font-weight: 500 !important; font-family: Roboto; }
	.FilterCategory ul li,
	.FilterCategory ul li:nth-last-child(-n+2){ margin: 0 4px 10px }
	.FilterCategory ul li:last-child{ margin: 0 4px 0px; }

	.FeatureArea{ margin: 0px; }
	.PromotArea .FeatureArea .SeeArrow {  bottom: -30px;  left: 0; right: 0; margin: auto; }

	.DetailsArea .DetailsLeft .Details-Content ul.Branches li,
	.DetailsArea .DetailsLeft .Details-Content ul.Info li, 
	.DetailsArea .DetailsLeft .Details-Content ul.Branches li{ width: 100% }
	.DetailsArea .DetailsSearch #slider-search form .SearchForm { width: 130%; margin: 0 -24px 30px -25px; }
	.DetailsArea .DetailsLeft .Details-Content .Tabing ul li a{font-size: 13px;  padding: 10px 14px;}

	.DetailsCard .DetailsCardLeft figcaption h6 a{font-size: 13px; padding: 7px 15px; margin: 0 5px 0 0;}

	.PromotationArea {background-color: #f9ab29;margin: 0 0 50px;background-image: linear-gradient(45deg, #f8a323, #fab430);}
	.PromotationArea .PromotationImages{ height: 110px; margin: 0; }
	.PromotationArea .Promotationconetnt{ position: relative; width: 100%; padding: 40px 20px 20px; }

	.entry-content .articleclass .col-md-6:nth-child(2) img{ margin: 15px auto 0; width: 100px; float: none; display: block;}
	.ContacArea .ContactFormRight { padding: 20px 0 0 0px; }

	.PaymentArea ul li{ width: 30%; margin: 0 0 10px 0; padding: 0;}
	.PaymentArea ul li img{ width: 60%; }

	header .navbar .navbar-nav>li{ display: inline-block; margin: 0 20px 0 0; }
	#wp-live-chat-header{ width: 45px !important; height: 45px !important; }
	.FilterArea form .SearchForm .Looking { border-right: none; border-bottom: 1px solid #989797; margin: 0 0 10px 0; padding: 5px 15px 5px; }
	.FilterArea form .SearchForm .Looking input{ line-height: 25px; font-size: 16px; }
	#Footer ul li{ padding: 0 5px }
	#Footer ul li a{ font-size: 10px; }
	#Footer ul li+li:before{ top: -1px; }
	#Footer p{ font-size: 10px; }












}



















