@charset "utf-8";
/* CSS Document */




@media screen and (max-width: 990px) and (min-width: 768px) {

	.PlanArea ul { width: 95%;   }
	.PlanArea ul li .PlanBox figcaption a { width: 100%;}

}







@media only screen and (max-width: 767px){
	footer .Footer { padding: 50px 10px; }
	footer .Footer .Foots{  margin: 0 0 20px; }

	.FilterArea { padding: 200px 20px 80px; }
	.FilterArea ul li { margin: 0 15px 10px; }
	.FilterArea h4 br{ display: none;  }

	.ServiceArea ul li{ width: 100%; margin: 0 0 15px;  }
	.ServiceArea ul li .Box{ max-width: 210px; }
	.PromoteArea { padding: 70px 20px;}
	.PromoteArea p{ font-size: 16px; }
	.PromoteArea p br{ display: none; }

	.TalkingArea .TalkingBox{ padding: 20px; }
	.TalkingArea .TalkingBox aside { width: 100%; text-align: center;  float: none; margin: 0 0 10px; }
	.TalkingArea .TalkingBox aside figure{ margin: 0 auto 10px;  }
	.TalkingArea .TalkingBox figcaption{ width: 100%; }

	.PartnerArea ul li{ width: calc(100% / 3); margin: 0 0 20px;  }


	.PlanArea ul { width: 95%; display: inherit;  }
	.PlanArea ul li{ width: 100%; margin: 0 0 35px; }



}












