@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative;
    overflow:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important }

header{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 0 20px;
}

header .navbar{
    border: none;
    margin: 0;
    min-height: auto;
    border-radius: 0;
}

header .navbar .navbar-nav>li{
    margin: 0 0 0 35px
}

header .navbar .navbar-nav>li>a{
    padding: 4px 0px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

header .navbar .navbar-nav>li>a:after{
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: 0.5s all ease-in-out;
}

header .navbar .navbar-nav>li>a:hover:after{
    width: 100%
}

header .navbar .navbar-nav>li:last-child>a{
    background-color: #26b060;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 11px;
    border-radius: 5px;
    line-height: 12px;
}

header .navbar .navbar-nav>li:last-child>a:after{
    content: none;
}

header .navbar .navbar-nav>li:last-child>a:hover{}


.FilterArea{
    background-image: url('../images/bannerhome.jpg');
    padding: 200px 0 120px;
}

.FilterArea .Search form{
    display: flex;
    width: 60%;
    margin: 50px auto 100px;
    background-color: #fff;
    border-radius: 5px;
}

.FilterArea .Search form .Looking{
    border-right: 1px solid #ddd;
}

.FilterArea .Search form .Looking,
.FilterArea .Search form .Location{
    padding: 12px 20px;
    width: 45%;
    position: relative;
}

.FilterArea .Search form .Looking h6,
.FilterArea .Search form .Location h6{
    text-align: left;
    color: #000;
    font-size: 16px;
    margin: 0;
    font-family: Lato;
    text-transform: uppercase;
}

.FilterArea .Search form .Looking input,
.FilterArea .Search form .Location input{
    border: none;
    margin: 7px 0 0 0;
    padding: 0;
    line-height: 0px;
    height: 25px;
    min-height: auto;
    width: 100%;
    box-shadow: none;
    outline: 0;
}

.FilterArea .Search form .Location img{
    position: absolute;
    top: 0;
    right: 17px;
    width: 22px;
    height: 22px;
    bottom: 0;
    margin: auto;
}

.FilterArea .Search form button{
    background: #26b060;
    display: flex;
    border: none;
    outline: 0;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.FilterArea .Search form button img{
    width: 50%;
}

.FilterArea h3{
    color: #fff;
    margin: 0 0 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.FilterArea h4{
    margin: 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
}

.FilterArea ul{
    text-align: center;
    margin: 0;
}

.FilterArea ul li{
    display: inline-block;
    margin: 0 4px;
}

.FilterArea ul li a{
    display: block;
    background-color: hsla(0, 0%, 0%, 0.55);
    min-width: 115px;
    padding: 13px 0;
}

.FilterArea ul li a img{
    width: 30px;
    margin: 0 0 6px 0;
}

.FilterArea ul li a p{
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.FilterArea ul li a:hover,
.FilterArea ul li.active a{
    background-color: #26b060;
}

.PromotArea{
    padding: 50px 30px;
    background-color: #efefef;
}

.PromotArea .PromotBane{
    background: url(../images/promors.png);
    padding: 20px;
    background-size: cover;
    margin: 0 0 100px 0;
}

.PromotArea .PromotBane a{
    background-color: #26b060;
    padding: 13px 20px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 55px;
    float: right;
    margin: 20px 0;
}

.PromotArea .PromotBane a:hover{
    background-color: #fff;
    color: #26b060;
}

.PromotArea .PromotBane p{
    font-size: 16px;
    line-height: 27px;
    color: #fff;
}

.Title{
    font-size: 30px;
    position: relative;
    margin: 0 0 50px 0;
    text-align: center;
    font-weight: 600;
    padding: 0 0 8px 0;
}

.Title:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    width: 92px;
    height: 10px;
    border-bottom: 2px solid #26b060;
    margin: auto;
    bottom: 0;
}

.SeeArrow{
    background-color: #26b060;
    color: #fff;
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 3px 10px #b9b9b9;
    line-height: 50px;
}

.FeatureArea{}

.FeatureArea .FeatureBox{
    box-shadow: #ddd 0px 0px 20px 0px;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    margin: 0 auto 50px;
    width: 95%;
}

.FeatureArea .FeatureBox figure{
    position: relative;
}

.FeatureArea .FeatureBox figure span{
    background-color: #26b060;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.FeatureArea .FeatureBox figure img{}

.FeatureArea .FeatureBox figure ul{
    position: absolute;
    bottom: 10px;
    margin: 0;
    width: 100%;
    padding: 0 0 0 20px;
    color: #fff;
}

.FeatureArea .FeatureBox figure ul li{
    font-size: 16px;
    margin: 5px 0 0 0;
}

.FeatureArea .FeatureBox figure ul li .fa{
    margin: 0 6px 0 0;
}

.FeatureArea .FeatureBox figcaption{
    background-color: #fff;
    padding: 15px;
}

.FeatureArea .FeatureBox figcaption h6{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0 0 10px;
    font-weight: 600;
}

.FeatureArea .FeatureBox figcaption p{
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 10px 0;
    color: #484848;
}

.FeatureArea .FeatureBox figcaption ul{
    border-top: 1px solid #ddd;
    padding: 10px 0 0 0;
    margin: 0;
}

.FeatureArea .FeatureBox figcaption ul li{
    float: left;
}

.FeatureArea .FeatureBox figcaption ul li span{
    position: relative;
    padding: 0 0 0 24px;
    color: #26b060;
    font-size: 14px;
}

.FeatureArea .FeatureBox figcaption ul li span:before{
    content: '';
    position: absolute;
    left: 0;
    border: 1px solid #26b060;
    width: 16px;
    height: 17px;
    border-radius: 100%;
    top: 0px;
}

.FeatureArea .FeatureBox figcaption ul li:last-child{
    float: right;
}

.FeatureArea .FeatureBox figcaption ul li .fa{
    font-size: 17px;
    margin: 0 0 0 8px;
    color: #7b7b7b;
}


.NormalSlider{}

.NormalSlider #myCarousel .carousel-control{
    width: 50px;
    height: 50px;
    background: transparent;
    opacity: 1;
    margin: auto 24px;
    font-size: 37px;
    text-shadow: none;
}



.BrowseArea{
    padding: 50px 30px;
    background-color: #efefef;
}

.BrowseArea .BrowseBox{
    position: relative;
    margin: 0 0 40px 0;
    border-radius: 5px;
    overflow: hidden;
}

.BrowseArea .BrowseBox img{}

.BrowseArea .BrowseBox h5{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 23px;
    font-weight: 600;
}

.BlogArea{
    padding: 10px 30px 50px;
    background-color: #efefef;
}

.BlogBox{
    margin: 0 0 30px 0;
}

.BlogBox figure{
    width: 25%;
    display: inline-block;
    margin: 0 20px 0 0;
}

.BlogBox figure img{}

.BlogBox figcaption{
    font-family: Lato;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.BlogBox figcaption h6{
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    font-size: 19px;
    margin: 0 0 6px 0;
}

.BlogBox figcaption p{
    font-size: 14px;
    font-weight: 400;
    color: #696868;
}

.BlogBox figcaption a{
    background: #26b060;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}


.StartedArea{
    padding: 70px 0;
    text-align: center;
}

.StartedArea p{
    font-size: 18px;
    margin: 0 0 30px;
}

.StartedArea a{
    display: inline-block;
    margin: 0 15px;
    border: 1px solid #26b060;
    width: 300px;
    color: #26b060;
    font-weight: 600;
    font-size: 20px;
    padding: 7px 0;
    border-radius: 51px;
}

.StartedArea a span{
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.StartedArea a:last-child{
    background-color: #26b060;
    color: #fff;
}

.StartedArea a:hover{
    background-color: #26b060;
    color: #fff;
}

.StartedArea a:last-child:hover{
    background-color: #ffffff;
    color: #26b060;
}





































.WhatdoArea{
    padding: 30px 0;
}

.WhatdoArea h2{
    margin: 0 0 15px;
    padding: 0 0 9px;
    text-align: center;
    font-weight: 700;
    color: #4a4949;
    text-transform: capitalize;
    font-size: 26px;
    position: relative;
}

.WhatdoArea h2:after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #26b060;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.WhatdoArea p{
    font-size: 15px;
    line-height: 28px;
}

.WhatdoArea p:last-child{
    margin: 0px;
}

.ServiceArea{
    background-color: #26b060;
    padding: 50px 0 30px;
}

.ServiceArea ul{
    text-align: center;
    margin: 0 0 40px;
}

.ServiceArea ul li{
    float: left;
    width: calc(100%/ 3);
}

.ServiceArea ul li .Box{
    background-color: #f3f3f3;
    max-width: 180px;
    margin: auto;
    padding: 25px 0 20px;
    border-radius: 9px;
}

.ServiceArea ul li .Box img{
    display: block;
    width: 70px;
    margin: 0 auto 20px;
}

.ServiceArea ul li .Box a{
    padding: 7px 30px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 5px;
    color: #737373;
}

.ServiceArea ul li .Box a:hover{
    background-color: #26b060;
    color: #fff;
    border-color: #26b060;
}

.ServiceArea h3{
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 0 0 15px;
    padding: 0 0 10px;
    position: relative;
}

.ServiceArea h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75px;
    height: 2px;
    background-color: #fff;
    margin: auto;
}

.ServiceArea p{
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 27px;
    width: 80%;
    margin: auto;
}

.PromoteArea{
    background-image: url('../images/Promoter.png');
    padding: 70px 0;
    text-align: center;
    color: #fff;
    background-position: center;
}

.PromoteArea p{
    font-size: 17px;
    line-height: 26px;
    margin: 0 0px 50px;
}

.PromoteArea a{
    background-color: #26b060;
    padding: 13px 20px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 55px;
}

.PromoteArea a:hover{
    background-color: #fff;
    color: #26b060;
}


.TalkingArea{
    background-color: #e4e4e4;
    padding: 30px 0 30px;
}

.TalkingArea h3{
    margin: 0 0 20px;
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.4px;
    position: relative;
    padding: 0 0 10px;
}

.TalkingArea h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #26b060;
    width: 100px;
    height: 2px;
}

.TalkingArea .item{
    padding: 10px;
}

.TalkingArea .center .item .TalkingBox{transform: scale(1);}

.TalkingArea .TalkingBox{
    background-color: #fff;
    border: 1px solid #d2d2d2;
    padding: 30px 40px;
    border-radius: 14px;
    transform: scale(0.90);
    box-shadow: 0px 8px 10px #d8d8d8;
}

.TalkingArea .TalkingBox aside{width: 140px;/* text-align: center; */float: left;}
.TalkingArea .TalkingBox aside figure{
    width: 70px;
    border: 1px solid #26b060;
    border-radius: 50%;
    margin: 0 0 8px;
}
.TalkingArea .TalkingBox aside figure img{}

.TalkingArea .TalkingBox aside h5{
    margin: 0 0 3px;
    font-size: 21px;
    color: #26b060;
    font-weight: 500;
}

.TalkingArea .TalkingBox aside h6{
    margin: 0 0 0;
    font-size: 15px;
    color: #000;
}

.TalkingArea .TalkingBox figcaption{
    float: left;
    width: 73%;
}

.TalkingArea .TalkingBox figcaption p{
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #777575;
}

.TalkingArea #Company .owl-nav{
    display: none;
}

.TalkingArea #Company .owl-dots{
    text-align: center;
    margin: 30px 0 0 0;
}

.TalkingArea #Company .owl-dots .owl-dot{
    width: 11px;
    height: 11px;
    margin: 0 3px;
}

.TalkingArea #Company .owl-dots .owl-dot span{
    width: 11px;
    height: 11px;
    background-color: #7d7d7d;
    border-radius: 50%;
    display: block;
}

.TalkingArea #Company .owl-dots .owl-dot.active span{
    background-color: #26b060;
}

.PartnerArea{
    padding: 50px 0;
}

.PartnerArea h3{
    margin: 0 0 50px;
    text-align: center;
    font-weight: 600;
    padding: 0 0 10px;
    position: relative;
}

.PartnerArea h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85px;
    height: 2px;
    background-color: #26b060;
    margin: auto;
}

.PartnerArea ul{
    margin: 0;
}
.PartnerArea ul li{
    width: calc(100% / 6);
    float: left;
    padding: 0 10px;
}

.PartnerArea ul li img{}


footer .Footer{
    background-color: #303030;
    color: #fff;
    padding: 50px 40px;
}

footer .Footer .Foots{}

footer .Footer .Foots img{
    margin: 0 0 10px;
}

footer .Footer .Foots p{
    color: #949494;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 40px;
    font-weight: 600;
}

footer .Footer .Foots form{}

footer .Footer .Foots form input{
    width: 210px;
    border: none;
    height: 36px;
    padding: 0 0 0 15px;
    float: left;
}

footer .Footer .Foots form button{
    height: 36px;
    border: none;
    background-color: #26b060;
    padding: 0 15px;
}

footer .Footer .Foots h3{
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

footer .Footer .Foots ul{
    margin: 0;
}
 
footer .Footer .Foots ul li{
    margin: 0 0 8px 0;
}

footer .Footer .Foots ul li a{color: #b0afaf;font-size: 14px;text-transform: capitalize;}

footer .Footer .Foots ul li a:hover{
    color: #fff;
}

footer .Footer .Foots h5{
    color: #b0afaf;
    margin: 30px 0 30px;
    position: relative;
    padding: 0 0 0 36px;
    font-size: 18px;
    font-weight: 500;
}

footer .Footer .Foots h5 span{
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    left: 0;
    background-color: #515050;
    border-radius: 50%;
    color: #26b060;
    line-height: 22px;
}

footer .Footer .Foots ol{
    margin: 0;
}

footer .Footer .Foots ol li{
    display: inline-block;
    margin: 0 5px 0 0;
}

footer .Footer .Foots ol li a{
    width: 30px;
    height: 30px;
    display: block;
    background-color: #26b060;
    text-align: center;
    color: #303030;
    font-size: 16px;
    line-height: 28px;
    border-radius: 50%;
}

footer .Footer .Foots ol li a:hover{
    background-color: #fff;
    color: #26b060;
}


footer .Copyright {
    background-color: #26b060;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}

footer .Copyright p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.3px;
}



.PlanArea{
    padding: 50px 0;
}

.PlanArea h3{
    margin: 0 0 40px;
    text-align: center;
    padding: 0 0 10px;
    font-weight: 600;
    color: #424141;
    text-transform: capitalize;
    font-size: 25px;
    position: relative;
}

.PlanArea h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 2px;
    background-color: #26b060;
    margin: auto;
}

.PlanArea ul{
    width: 85%;
    display: flex;
    margin: auto;
}

.PlanArea ul li{
    width: calc(100% / 3);
    padding: 0 15px;
}

.PlanArea ul li .PlanBox{
    box-shadow: 0px 6px 11px #ddd;
    padding: 0;
}

.PlanArea ul li .PlanBox article{
    background-color: #0093d1;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0 0 90px 0px;
    height: 160px;
    overflow: inherit;
}

.PlanArea ul li .PlanBox article p{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.PlanArea ul li .PlanBox article aside{
    width: 150px;
    height: 150px;
    background-color: #03aff7;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: auto;
    color: #fff;
    padding: 25px 20px 0;
    position: relative;
}

.PlanArea ul li .PlanBox article aside h4{
    margin: 0 0 10px 0;
    font-size: 35px;
    font-weight: 600;
    line-height: 28px;
}

.PlanArea ul li .PlanBox article aside span{
    font-size: 15px;
    line-height: 16px;
    display: block;
}

.PlanArea ul li .PlanBox figcaption{
    padding: 0 20px 30px;
}

.PlanArea ul li .PlanBox figcaption .Listing{
    border-bottom: 1px solid #b7b7b7;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}

.PlanArea ul li .PlanBox figcaption .Listing h5{
    margin: 0 0 14px 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.PlanArea ul li .PlanBox figcaption .Listing:first-child h5{
    margin: 0px;
}

.PlanArea ul li .PlanBox figcaption .Listing h5 span{
    float: right;
    color: #26b060;
    font-size: 20px;
}

.PlanArea ul li .PlanBox figcaption .Listing ol{
    padding: 0px 0 0 20px;
}

.PlanArea ul li .PlanBox figcaption .Listing ol li{
    width: 100%;
    float: none;
    padding: 0;
    list-style: decimal;
    font-size: 14.5px;
    margin: 0 0 6px;
    color: #656565;
}

.PlanArea ul li .PlanBox figcaption .Listing p{
    font-size: 14.5px;
    margin: 0 0 7px;
    color: #656565;
}

.PlanArea ul li .PlanBox figcaption a{
    width: 70%;
    display: block;
    margin: 30px auto 0;
    padding: 12px 0;
    text-align: center;
    background-color: #0093d1;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 600;
}

.PlanArea ul li .PlanBox figcaption a:hover{
    background-color: #000;
}


.PlanArea ul li:nth-child(2) .PlanBox article{background-color: #fcb041;} 
.PlanArea ul li:nth-child(2) .PlanBox article aside{background-color: #febc5c;}
.PlanArea ul li:nth-child(2) .PlanBox figcaption a{ background-color: #febc5c; }

.PlanArea ul li:nth-child(3) .PlanBox article{background-color: #26b060;} 
.PlanArea ul li:nth-child(3) .PlanBox article aside{background-color: #23cc6a;}
.PlanArea ul li:nth-child(3) .PlanBox figcaption a{ background-color: #23cc6a; }



.QuesArea{
    width: 85%;
    margin: auto;
    padding: 10px 0 50px 0;
} 

.QuesArea h3{
    margin: 0 0 40px;
    text-align: center;
    padding: 0 0 10px;
    font-weight: 600;
    color: #424141;
    text-transform: capitalize;
    font-size: 25px;
    position: relative;
}

.QuesArea h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 2px;
    background-color: #26b060;
    margin: auto;
}

.QuesArea .QuesBox{
    margin: 0 0 25px 0;
}

.QuesArea .QuesBox:last-child{
    margin: 0;
}

.QuesArea .QuesBox h5{
    margin: 0 0 2px;
    font-size: 16.5px;
    color: #000;
    font-weight: 600;
}

.QuesArea .QuesBox p{
    margin: 0;
    font-size: 15px;
    color: #6b6b6b;
    line-height: 26px;
}


/* ***************************** Category Listing page  ************************ */

.ShoppingArea{
    padding: 40px 0;
}

.ShoppingArea .ShoppingHead{
    margin: 0 0 50px;
    text-align: center;
}

.ShoppingArea .ShoppingHead h4{
    margin: 0 0 10px;
    font-size: 23px;
    font-weight: 600;
    color: #000;
}

.ShoppingArea .ShoppingHead p{
    font-size: 14.5px;
    margin: 0;
    color: #424242;
}

.ShoppingArea .ShoppingBody{
    width: 95%;
    margin: auto;
}

.ShoppingArea .ShoppingBody .Filter{}

.ShoppingArea .ShoppingBody .Filter h4{
    margin: 0 0 10px;
    color: #26b060;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}

.ShoppingArea .ShoppingBody .Filter aside{
    margin: 0 0 20px;
}

.ShoppingArea .ShoppingBody .Filter aside select{
width: 100%;
    border: 1px solid #ddd;
    padding: 8px 10px;
    -webkit-appearance: none;
    color: #5d5c5c;
    font-size: 14px;
    margin: 0 0 12px;
    background-image: url(../images/Arrow.png);
    background-repeat: no-repeat;
    background-position: 96%;
}

.ShoppingArea .ShoppingBody .Filter aside ul{
    margin: 0;
}

.ShoppingArea .ShoppingBody .Filter aside ul li{}

.ShoppingArea .ShoppingBody .Filter aside ul li a{
    color: #717171;
    font-size: 15px;
    line-height: 27px;
}


.ShoppingArea .ShoppingBody .Filter aside ul li.active a,
.ShoppingArea .ShoppingBody .Filter aside ul li a:hover{
    color: #26b060;
}




.ShoppingArea .ShoppingBody .ShoppingList{}

.ShoppingArea .ShoppingBody .ShoppingList form{
    text-align: right;
    margin: 0 0 30px;
}

.ShoppingArea .ShoppingBody .ShoppingList form p{
    float: left;
    margin: 8px 0 0;
    font-size: 15px;
    font-weight: 600;
    color: #464545;
}

.ShoppingArea .ShoppingBody .ShoppingList form input{
    width: 300px;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 15px;
    font-size: 14px;
}

.ShoppingArea .ShoppingBody .ShoppingList form button{
    float: right;
    padding: 0 15px;
    background-color: #26b060;
    border: none;
    outline: 0;
    box-shadow: none;
    height: 35px;
    color: #fff;
}

.PropertyBox{
    box-shadow: 0px 1px 7px #ddd; 
    margin: 0 0 40px;
}

.PropertyBox figure{
    position: relative;
    overflow: inherit;
}

.PropertyBox figure span.verified{
    background-color: #26b060;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 5px 9px;
    border-radius: 3px;
}

.PropertyBox figure span.verified img{
    width: 16px;
    margin: 0 5px 0 0;
}

.PropertyBox figure span.Premium,
.PropertyBox figure span.Classic,
.PropertyBox figure span.Free{
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #ed2123;
    padding: 5px 20px 5px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.PropertyBox figure span.Premium:before,
.PropertyBox figure span.Classic:before,
.PropertyBox figure span.Free:before{
    content: '';
    background-image: url('../images/RedArrow.png');
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 100%;
    background-repeat: no-repeat;
}

.PropertyBox figure span.Premium:after,
.PropertyBox figure span.Classic:after,
.PropertyBox figure span.Free:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ed2123;
    border-top: 11px solid transparent;
    position: absolute;
    right: -6px;
    bottom: -16px;
    transform: rotate(90deg);
    z-index: 1;
}

.PropertyBox figure span.Classic{
    background-color: #ff9e14;
}

.PropertyBox figure span.Classic:before{
    background-image: url('../images/YellowArrow.png');
}

.PropertyBox figure span.Classic:after{
    border-bottom: 11px solid #ff9e14;
}

.PropertyBox figure span.Free{
    background-color: #00c5ee;
}

.PropertyBox figure span.Free:before{
    background-image: url('../images/skyArrow.png');
}

.PropertyBox figure span.Free:after{
    border-bottom: 11px solid #00c5ee;
}

.PropertyBox figure aside{
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    width: 100%;
    color: #fff;
}

.PropertyBox figure aside h4{
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 20px;
}

.PropertyBox figure aside p{
    margin: 0;
    font-size: 15px;
}

.PropertyBox figure aside p .fa{
    margin: 0 3px 0 0;
}

.PropertyBox figure aside p span{
    float: right;
}

.PropertyBox figcaption{
    padding: 13px 0 0 0;
}

.PropertyBox figcaption h5{
    margin: 0 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.PropertyBox figcaption h5 .fa{
    color: #f4d00c;
    font-size: 17px;
    margin: 0 0px 0 0;
}

.PropertyBox figcaption h5 a{
    color: #26b060;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.PropertyBox figcaption p{
    padding: 0 10px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 15px;
    color: #000;
}

.PropertyBox figcaption ul{
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 0;
}

.PropertyBox figcaption ul li{
    width: calc(100% / 5);
    float: left;
    text-align: center;
    position: relative;
}

.PropertyBox figcaption ul li:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 60%;
    background-color: #949494;
    margin: auto;
    right: 0;
}

.PropertyBox figcaption ul li:last-child:after{
    content: none;
}

.PropertyBox figcaption ul li a{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #5a5a5a;
}

.PropertyBox figcaption ul li a:hover{
    background-color: #26b060;
    color: #fff;
}

.PropertyBox figcaption ul li:hover:after{
    content: none;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination{
    text-align: right;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul{
    margin: 0;
    display: flex;
    text-align: right;
    float: right;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul li{
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul li a{
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 32px;
    color: #3c3c3c;
    border-right: none;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul li a:hover{
    background-color: #26b060;
    border-color: #26b060;
    color: #fff;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul li:first-child a,
.ShoppingArea .ShoppingBody .ShoppingList .Pagination ul li:last-child a{
    background-color: #26b060;
    border-color: #26b060;
    color: #fff;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination p{
    float: right;
    width: 100%;
    margin: 5px 0 0 0;
}

.ShoppingArea .ShoppingBody .ShoppingList .Pagination p span{
    width: 265px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #26b060;
}



.FormArea{
    padding: 100px 0 50px;
    background-size: cover;
    background-position: center;
}

.FormArea h3{
    margin: 0 0 15px;
    text-align: center;
    color: #fff;
    font-size: 29px;
    font-weight: 600;
}

.FormArea h4{
    margin: 0 0 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
}

.FormArea .SignupForm{
    background-color: #fff;
    width: 60%;
    padding: 25px 50px;
    margin: auto;
    border-radius: 5px;
}

.FormArea .SignupForm h5{
    margin: 0 0 30px;
    text-align: center;
    font-size: 23px;
    color: #000;
    font-weight: 600;
    position: relative;
    padding: 0 0 10px;
}

.FormArea .SignupForm h5:after{
    content: '';
    background-color: #26b060;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 2px;
    margin: auto;
}

.FormArea .SignupForm form{}

.FormArea .SignupForm form .form-group{
    margin: 0 0 20px;
}

.FormArea .SignupForm form .form-group label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #504f4f;
}

.FormArea .SignupForm form .form-group label sup{
    color: #fb1919;
    top: 0;
    left: 5px;
    font-size: 15px;
}

.FormArea .SignupForm form .form-group .form-control{
    height: 45px;
    border: 1px solid #ddd;
    padding: 0 14px;
}

.FormArea .SignupForm form .Categories{
    margin: 0 0 5px;
    text-align: center;
}

.FormArea .SignupForm form .Categories p{
    margin: 0 30px 0 0;
    display: inline-block;
    color: #000;
    font-size: 15px;
}

.FormArea .SignupForm form .Categories .Radio {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    color: #000;
}
  
.FormArea .SignupForm form .Categories .Radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
 
.FormArea .SignupForm form .Categories .Radio .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #525252;
} 

.FormArea .SignupForm form .Categories .Radio input:checked ~ .checkmark {
     background-color: transparent;
     border-color: #26b060;
}
 
.FormArea .SignupForm form .Categories .Radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
 
.FormArea .SignupForm form .Categories .Radio input:checked ~ .checkmark:after {
  display: block;
}
 
.FormArea .SignupForm form .Categories .Radio .checkmark:after {
    top: 0;
    left: 0;
    right: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #26b060;
    bottom: 0;
    margin: auto;
}

.FormArea .SignupForm form button{
    width: 47%;
    background-color: #26b060;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin: 10px auto 10px;
    display: block;
    outline: 0;
}

.FormArea .SignupForm form button:hover{
    background-color: #000;
}

.FormArea .SignupForm form .SignSocail{
    text-align: center;
}

.FormArea .SignupForm form .SignSocail h5{
    position: relative;
    line-height: normal;
    font-size: initial;
    padding: 0;
    margin: 0 0 10px 0;
}

.FormArea .SignupForm form .SignSocail h5:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #dcd6d6;
    margin: auto;
}

.FormArea .SignupForm form .SignSocail h5:after{
    content: none;
}

.FormArea .SignupForm form .SignSocail h5 span{
    width: 50px;
    height: 30px;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
    text-transform: uppercase;
    line-height: 35px;
    color: #989696;
    font-weight: 500;
    background-color: #fff;
    position: relative;
}

.FormArea .SignupForm form .SignSocail h6{
    margin: 0 0 16px;
    font-size: 16px;
}

.FormArea .SignupForm form .SignSocail ul{
    margin: 0 0 15px;
}

.FormArea .SignupForm form .SignSocail ul li{
    display: inline-block;
    margin: 0 10px;
}

.FormArea .SignupForm form .SignSocail ul li a{
    width: 200px;
    display: inline-block;
    background-color: #3a559f;
    color: #fff;
    padding: 9px 0;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s all ease-in-out;
}

.FormArea .SignupForm form .SignSocail ul li:nth-child(2) a{
    background-color: #f34a38;
}

.FormArea .SignupForm form .SignSocail ul li a:hover{
    background-color: #000;
}

.FormArea .SignupForm form .SignSocail p{
    font-size: 15px;
    margin: 0;
}

.FormArea .SignupForm form .SignSocail p a{
    color: #26b060;
    font-weight: 600;
}








.FormArea .SigninForm{
    background-color: #fff;
    width: 35%;
    padding: 25px 60px;
    margin: auto;
    border-radius: 5px;
}

.FormArea .SigninForm h5{
    margin: 0 0 30px;
    text-align: center;
    font-size: 23px;
    color: #000;
    font-weight: 600;
    position: relative;
    padding: 0 0 10px;
}

.FormArea .SigninForm h5:after{
    content: '';
    background-color: #26b060;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 2px;
    margin: auto;
}

.FormArea .SigninForm form{}

.FormArea .SigninForm form .form-group{
    margin: 0 0 20px;
}

.FormArea .SigninForm form .form-group label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #504f4f;
}

.FormArea .SigninForm form .form-group label sup{
    color: #fb1919;
    top: 0;
    left: 5px;
    font-size: 15px;
}

.FormArea .SigninForm form .form-group .form-control{
    height: 45px;
    border: 1px solid #ddd;
    padding: 0 14px;
}

.FormArea .SigninForm form .CheckBox button{
    width: 100%;
    background-color: #26b060;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin: 0px auto 15px;
    display: block;
    outline: 0;
    transition: 0.5s all ease-in-out;
}

.FormArea .SigninForm form .CheckBox button:hover{
    background-color: #000;
}

.FormArea .SigninForm form .CheckBox a{
    float: right;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.FormArea .SigninForm form .CheckBox a:hover{
    color: #26b060
}

.FormArea .SigninForm form .CheckBox .Checks {
  display: block;
  position: relative;
  padding-left: 31px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
}
 
.FormArea .SigninForm form .CheckBox .Checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
.FormArea .SigninForm form .CheckBox .Checks .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 22px;
  background-color: #eee;
  border-radius: 2px;
}
 
.FormArea .SigninForm form .CheckBox .Checks:hover input ~ .checkmark {
  background-color: #ccc;
}
 
.FormArea .SigninForm form .CheckBox .Checks input:checked ~ .checkmark {
  background-color: #26b060;
}
 
.FormArea .SigninForm form .CheckBox .Checks .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
 
.FormArea .SigninForm form .CheckBox .Checks input:checked ~ .checkmark:after {
  display: block;
}
 
.FormArea .SigninForm form .CheckBox .Checks .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(52deg);
}


.FormArea .SigninForm form .SignSocail{
    text-align: center;
}

.FormArea .SigninForm form .SignSocail h5{
    position: relative;
    line-height: normal;
    font-size: initial;
    padding: 0;
    margin: 0 0 10px 0;
}

.FormArea .SigninForm form .SignSocail h5:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #dcd6d6;
    margin: auto;
}

.FormArea .SigninForm form .SignSocail h5:after{
    content: none;
}

.FormArea .SigninForm form .SignSocail h5 span{
    width: 50px;
    height: 30px;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
    text-transform: uppercase;
    line-height: 35px;
    color: #989696;
    font-weight: 500;
    background-color: #fff;
    position: relative;
}

.FormArea .SigninForm form .SignSocail h6{
    margin: 0 0 16px;
    font-size: 16px;
}

.FormArea .SigninForm form .SignSocail ul{
    margin: 0 0 20px;
}

.FormArea .SigninForm form .SignSocail ul li{
    display: inline-block;
    margin: 0 10px;
}

.FormArea .SigninForm form .SignSocail ul li a{
    width: 145px;
    display: inline-block;
    background-color: #3a559f;
    color: #fff;
    padding: 9px 0;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s all ease-in-out;
}

.FormArea .SigninForm form .SignSocail ul li:nth-child(2) a{
    background-color: #f34a38;
}

.FormArea .SigninForm form .SignSocail ul li a:hover{
    background-color: #000;
}

.FormArea .SigninForm form .SignSocail p{
    font-size: 15px;
    margin: 0;
}

.FormArea .SigninForm form .SignSocail p a{
    color: #26b060;
    font-weight: 600;
}

/* ***************************** 14 / 08 / 2019 ************************** */

.ContacArea{
    padding: 50px 0;
}

.ContacArea .ContactInfo{
    margin: 0 0 40px;
}

.ContacArea .ContactInfo h3{
    margin: 0 0 30px;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
    position: relative;
    padding: 0 0 10px;
}

.ContacArea .ContactInfo h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65px;
    height: 2px;
    background-color: #26b060;
    margin: auto;
}

.ContacArea .ContactInfo ul{
    float: left;
    width: 100%;
}

.ContacArea .ContactInfo ul li{
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
}

.ContacArea .ContactInfo ul li .ContactBox{
    text-align: center;
    background-color: #0093d1;
    min-height: 210px;
    margin: 50px 0 10px 0;
    color: #fff;
    position: relative;
    padding: 70px 0 0 0;
    box-shadow: 0px 3px 10px #b9b9b9;
}

.ContacArea .ContactInfo ul li .ContactBox figure{
    border: 1px solid #0093d1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContacArea .ContactInfo ul li .ContactBox figure img{
    width: 40px;
}

.ContacArea .ContactInfo ul li:nth-child(2) .ContactBox{
    background-color: #26b060;
}

.ContacArea .ContactInfo ul li:nth-child(2) .ContactBox figure{
    border-color: #26b060;
}

.ContacArea .ContactInfo ul li:nth-child(3) .ContactBox{
    background-color: #f2635f;
}

.ContacArea .ContactInfo ul li:nth-child(3) .ContactBox figure{
    border-color: #f2635f;
}

.ContacArea .ContactInfo ul li .ContactBox h6{
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 19px;
}

.ContacArea .ContactInfo ul li .ContactBox p{
    font-size: 16px;
    margin: 0 0 0 0;
    line-height: 27px;
}

.ContacArea .ContactInfo ul li .ContactBox ol{
    margin: 10px 0px 0 0;
}

.ContacArea .ContactInfo ul li .ContactBox ol li{
    width: auto;
    float: none;
    display: inline-block;
    padding: 0 5px;
}

.ContacArea .ContactInfo ul li .ContactBox ol li a{
    transition: 0.5s all ease-in-out;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ContacArea .ContactInfo ul li .ContactBox ol li a:hover{
    background-color: #fff;
    color: #f2635f;
}

.ContacArea .ContactForm{}

.ContacArea .ContactForm form{
    background-color: #f3f3f3;
    padding: 30px;
}

.ContacArea .ContactForm form h4{
    margin: 0 0px 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 19px;
}

.ContacArea .ContactForm form h5{
    margin: 0 0px 25px;
    font-size: 15px;
    line-height: 21px;
    color: #000;
}

.ContacArea .ContactForm form .form-group{
    margin: 0 0 20px;
}

.ContacArea .ContactForm form .form-group .form-control{
    border: none;
    outline: 0;
    height: 46px;
    padding: 6px 15px;
    box-shadow: none;
}

.ContacArea .ContactForm form .form-group textarea.form-control{
    height: auto;
}

.ContacArea .ContactForm form button{
    transition: 0.5s all ease-in-out;
    border: none;
    outline: 0;
    background-color: #26b060;
    color: #fff;
    padding: 11px 40px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.6px;
}

.ContacArea .ContactForm form button:hover{
    background-color: #000;
}

.ContacArea .ContactFormRight{
    padding: 20px 0 0 20px;
}

.ContacArea .ContactFormRight h4{
    margin: 0 0px 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: #26b060;
    font-size: 20px;
}

.ContacArea .ContactFormRight p{
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 15px;
}

.ContacArea .ContactFormRight article{
    background-image: url('../images/Dot.png');
    padding: 25px 5px 0 35px;
    border: 2px solid #d2cdcd;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

.ContacArea .ContactFormRight article figure{
    float: right;
    width: 150px;
}

.ContacArea .ContactFormRight article figure img{}

.ContacArea .ContactFormRight article p{
    color: #26b060;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.ContacArea .ContactFormRight article p img{
    width: 27px;
    margin: 0 10px 0 0;
}

.ContacArea .ContactFormRight article h5{
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    font-family: Lato;
}

.ContacArea .ContactFormRight article h6{
    margin: 0;
    color: #f2635f;
    text-transform: uppercase;
    font-size: 17px;
    font-family: Lato;
    line-height: 24px;
    font-weight: 600;
}

.PlaceTags{
    background-image: url('../images/place.png');
    padding: 40px 0;
    position: relative;
    background-position: 50% 190%;
    margin: 0 0 50px;
}

.PlaceTags:before{
    content: '';
    background-color: rgba(38, 176, 96, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.PlaceTags figure{
    float: right;
    filter: brightness(0) invert(1);
    width: 150px;
}

.PlaceTags figure img{}

.PlaceTags h4{
    color: #fff;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    font-family: Lato;
    font-style: italic;
}

.LearnArea{}

.LearnArea ul{
    float: left;
    width: 100%;
}

.LearnArea ul li{
    width: calc(100% / 3);
    padding: 0 15px;
    float: left;
    margin: 0 0 50px;
}

.LearnArea ul li h4{
    font-size: 19px;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 600;
    border-bottom: 1px solid #fbc900;
    margin: 0 0 15px;
}

.LearnArea ul li h4 img{
    width: 45px;
    margin: 0 10px 0 0;
}

.LearnArea ul li:nth-child(2) h4{
    border-bottom: 1px solid #26b060;
}

.LearnArea ul li:nth-child(3) h4{
    border-color: #f2635f;
}

.LearnArea ul li p{
    font-size: 15px;
    color: #000;
    font-family: Lato;
    line-height: 26px;
}

.DetailsArea{
    padding: 50px 0 20px;
}

.DetailsArea .DetailsHead{}

.DetailsArea .DetailsHead aside{
    padding: 0;
    color: #000;
    float: left;
    overflow: initial;
}

.DetailsArea .DetailsHead aside h4{
    margin: 0 0 6px;
    font-weight: 700;
    font-size: 26px;
}

.DetailsArea .DetailsHead aside h4 span.Premium{
    background-color: #ed2123;
    padding: 5px 20px 5px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: -10px 0 0 20px;
    position: relative;
    display: inline-block;
}

.DetailsArea .DetailsHead aside h4 span.Premium:before{
    content: '';
    background-image: url('../images/RedArrow.png');
    position: absolute;
    top: 0;
    right: -16px;
    width: 16px;
    height: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 1;
    background-position: 0 -2px;
} 

.DetailsArea .DetailsHead aside p{
    margin: 0;
    font-size: 15px;
    position: relative;
    padding: 0 0 0 20px;
    font-weight: 500;
}

.DetailsArea .DetailsHead aside p .fa{
    margin: 0;
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 20px;
}

.DetailsArea .DetailsHead aside p span{display: block;}


.DetailsArea .DetailsHead form{
    text-align: right;
    margin: 0 0 30px;
} 

.DetailsArea .DetailsHead form input{
    width: 300px;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 15px;
    font-size: 14px;
    outline: 0
}

.DetailsArea .DetailsHead form button{
    float: right;
    padding: 0 15px;
    background-color: #26b060;
    border: none;
    outline: 0;
    box-shadow: none;
    height: 35px;
    color: #fff;
}


.DetailsArea .DetailsLeft{}

.DetailsArea .DetailsLeft .Details-Gallery{
    margin: 0 0 25px;
}

.DetailsArea .DetailsLeft .Details-Gallery{}

.DetailsArea .DetailsLeft .Details-Gallery span.verified{
    background-color: #26b060;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 5px 9px;
    border-radius: 3px;
    z-index: 1
}

.DetailsArea .DetailsLeft .Details-Gallery span.verified img{
    width: 16px;
    margin: 0 5px 0 0;
}


.DetailsArea .DetailsLeft .Details-Gallery ol.carousel-indicators{margin: 10px 0 30px 0;position: relative;width: 100%;left: auto;right: 0;height: auto;bottom: auto;top: auto;}

.DetailsArea .DetailsLeft .Details-Gallery ol.carousel-indicators li{
    width: 20%;
    float: left;
    padding: 0 0px 0 0;
    border: 3px solid #fff;
    height: auto;
    margin: 0;
    text-indent: 0;
    overflow: hidden;
    border-radius: 6px;
}

.DetailsArea .DetailsLeft .Details-Gallery ol.carousel-indicators li img{
}

.DetailsArea .DetailsLeft .Details-Gallery ol.carousel-indicators li.active{
    border-color: #26b060;
}

.DetailsArea .DetailsLeft .Details-Gallery ol.carousel-indicators li.active img{}

.DetailsArea .DetailsLeft .Details-Gallery .carousel-control{
    width: 40px;
    height: 40px;
    background: #fff;
    opacity: 1;
    text-shadow: none;
    color: #26b060;
    border-radius: 50%;
    line-height: 40px;
    font-size: 14px;
    top: 40%;
    margin: 0 20px;
}

.DetailsArea .DetailsLeft .Details-Gallery .carousel-control:hover{
    background:#26b060;
    color: #fff;
}
 
.DetailsArea .DetailsLeft .Details-Gallery .carousel-control.left{}    

.DetailsArea .DetailsLeft .Details-Gallery .carousel-control.right{}





.DetailsArea .DetailsLeft .Details-Content{
    margin: 0 0 40px;
}

.DetailsArea .DetailsLeft .Details-Content h4{
    font-size: 23px;
    font-weight: 600;
    color: #000;
    padding: 0 0 7px;
    margin: 0 0 15px;
    position: relative;
    font-family: Lato;
}

.DetailsArea .DetailsLeft .Details-Content h4:after{
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #26b060;
    bottom: 0;
}
 
.DetailsArea .DetailsLeft .Details-Content span.Rats{
    margin: 0 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    float: right;
}

.DetailsArea .DetailsLeft .Details-Content span.Rats .fa{
    color: #f4d00c;
    font-size: 17px;
    margin: 0 0px 0 0;
}

.DetailsArea .DetailsLeft .Details-Content span.Rats a{
    color: #26b060;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.DetailsArea .DetailsLeft .Details-Content p{
    font-size: 15px;
    color: #000;
    line-height: 26px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Info{}

.DetailsArea .DetailsLeft .Details-Content ul.Branches{}

.DetailsArea .DetailsLeft .Details-Content ul.Info li,
.DetailsArea .DetailsLeft .Details-Content ul.Branches li{
    display: inline-block;
    width: 48%;
    position: relative;
    padding: 0 0 0 45px;
    font-size: 15px;
    color: #404040;
    line-height: 42px;
    font-weight: 500;
}

.DetailsArea .DetailsLeft .Details-Content ul.Info li figure,
.DetailsArea .DetailsLeft .Details-Content ul.Branches li figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Info li figure img,
.DetailsArea .DetailsLeft .Details-Content ul.Branches li figure img{}

.DetailsArea .DetailsLeft .Details-Content ul.Branches li{
    width: 25%;
    font-weight: 600;
    text-transform: capitalize;
    color: #353535;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product{
    display: flex;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product li{
    text-align: center;
    padding: 0 10px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product li figure{
    margin: 0 auto 15px;
    width: 80%;
}


.DetailsArea .DetailsLeft .Details-Content ul.Product li figure span{
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #ed2123;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product li figure span:after{
    content: '';
    background-image: url(../images/RedArrow.png);
    position: absolute;
    top: 0px;
    right: -16px;
    width: 16px;
    height: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: 0px -1px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product li figure img{}

.DetailsArea .DetailsLeft .Details-Content ul.Product li h5{
    font-weight: 600;
    font-size: 17px;
    color: #000;
    margin: 0px 0 7px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Product li p{
    font-size: 14.5px;
    line-height: 21px;
    color: #585858;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings{}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li{
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-family: Lato;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li aside{
    position: relative;
    padding: 15px 0 15px 90px;
    margin: 0 0 5px 0;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li aside figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li aside figure img{}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li aside h6{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0 0 6px;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li aside h5{
    color: #f4d00c;
    font-size: 17px;
    margin: 0 0px 0 0;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li p{
    font-size: 15px;
    line-height: 24px;
    color: #4e4e4e;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings li time{
    display: block;
    text-align: right;
    font-size: 13px;
    color: #7b7979;
    font-family: Lato;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings a.Load{
    color: #0093d1;
    font-weight: 600;
    font-family: Lato;
    font-size: 15px;
    width: 90px;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}

.DetailsArea .DetailsLeft .Details-Content ul.Ratings a.Load:hover{
    color: #000;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing{
    margin: 40px 0 0 0;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul{border: none;}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li{}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li a{
    border-radius: 0;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Lato;
    padding: 10px 25px;
    color: #000;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li a:hover{
background-color: transparent;
    border-color: transparent;  
}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li.active{}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li.active a{
    border: 1px solid #26b060;
    border-bottom-color: transparent;
    color: #26b060;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing ul li.active a:hover{}

.DetailsArea .DetailsLeft .Details-Content .Tabing .tab-content{
    border-radius: 5px;
    border: 1px solid #26b060;
    padding: 25px;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry{}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form{}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form h6{
    font-size: 16px;
    margin: 0 0 30px;
    color: #000;
    padding: 0 0 0 10px;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form .form-group{
    padding: 0 10px;
    margin: 0 0 20px;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form .form-group .form-control{
    background-color: #f5f5f5;
    height: 45px;
    box-shadow: none;
    border: none;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form .form-group textarea.form-control{
    height: auto;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form button{
    border: none;
    outline: 0;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #26b060;
    border-radius: 5px;
}

.DetailsArea .DetailsLeft .Details-Content .Tabing #Enquiry form button:hover{
    background-color: #000;
}







.DetailsArea .DetailsRight{}

.DetailsArea .DetailsRight .DetailsProperty{}

.DetailsArea .DetailsRight .DetailsProperty h4{
    margin: 0 0 20px;
    font-weight: 700;
    color: #000;
    font-size: 22px;
}

.DetailsArea .DetailsRight .DetailsProperty .PropertyBox figure aside h4 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.DetailsArea .DetailsRight .DetailsKeywords{}

.DetailsArea .DetailsRight .DetailsKeywords h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 15px;
    color: #000;
    letter-spacing: 0.5px;
}

.DetailsArea .DetailsRight .DetailsKeywords ul{
    margin: 0;
}

.DetailsArea .DetailsRight .DetailsKeywords ul li{
    display: inline-block;
    margin: 0 5px 10px 0;
}

.DetailsArea .DetailsRight .DetailsKeywords ul li a{
    transition: 0.5s all ease-in-out;
    border: 1px solid #0093d1;
    padding: 5px 14px;
    display: block;
    font-size: 15px;
    border-radius: 5px;
}

.DetailsArea .DetailsRight .DetailsKeywords ul li a:hover{
    background-color: #0093d1;
    color: #fff;
}



.PromotationArea{
    height: 210px;
    background-size: cover;
    margin: 0 0 50px;
}

.PromotationArea .Promotationconetnt{
    width: 45%;
    float: right;
    text-align: center;
    color: #fff;
    padding: 48px 0;
}

.PromotationArea .Promotationconetnt h4{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 0 0 0 #ddd;
    margin: 0 0 10px;
}

.PromotationArea .Promotationconetnt p{
    color: #000;
    font-size: 18px;
    margin: 0 0 20px;
}

.PromotationArea .Promotationconetnt a{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    line-height: 40px;
}

/* ******************************* Business Category ******************************* */

.BusinessArea{
    padding: 50px 20px;
}

.BusinessArea .BusinessHead{
    margin: 0 0 40px 0;
}

.BusinessArea .BusinessHead h4{
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    color: #26b060;
}

.BusinessArea .BusinessHead p{
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 10px;
}

.BusinessArea .BusinessHead form{
    float: right;
    width: 300px;
}

.BusinessArea .BusinessHead form input{
    width: 85%;
    float: left;
    height: 38px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.BusinessArea .BusinessHead form button{
    float: left;
    width: 15%;
    background-color: #26b060;
    border: none;
    height: 38px;
    color: #fff;
    font-size: 17px;
    outline: 0;
}

.BusinessArea .BusinessHead form button:hover{}

.BusinessArea .Businessbody{}

.BusinessArea .Businessbody ul.Pagination{
    background-color: #e4e4e4;
    margin: 0 0 20px 0;
}

.BusinessArea .Businessbody ul.Pagination li{
    display: inline-block;
}

.BusinessArea .Businessbody ul.Pagination li a{
    text-transform: uppercase;
    display: block;
    line-height: 38px;
    width: 32px;
    text-align: center;
    font-weight: 400;
    color: #636262;
    border-bottom: 3px solid transparent;
    font-family: Roboto;
    font-size: 15px;
}

.BusinessArea .Businessbody ul.Pagination li a:hover{
    background-color: #c7c7c7;
}

.BusinessArea .Businessbody ul.Pagination li.active a{
    background-color: #c7c7c7;
    border-color: #26b060;
}

.BusinessArea .Businessbody .Services{
    margin: 0px 0 0 0;
}

.BusinessArea .Businessbody .Services h4{
    margin: 0 0 14px;
    font-size: 20px;
    font-weight: 600;
    color: #26b060;
}

.BusinessArea .Businessbody .Services ul{}

.BusinessArea .Businessbody .Services ul li{
    width: 25%;
    float: left;
    margin: 0 0 10px 0;
}

.BusinessArea .Businessbody .Services ul li a{
    font-size: 16px;
    color: #828282;
    font-weight: 400;
    font-family: Roboto;
}

.BusinessArea .Businessbody .Services ul li a:hover{
    color: #000;
}

